page {
  padding-bottom: 90rpx;
}
.goods_detail {
  .goods_swiper {

    swiper {
      /*height: 750rpx;*/
      height: 500rpx;
    }
  }

  .detail_price {
    padding: 20rpx;
    border-bottom: 1rpx solid #222222;
    color: var(--themeColor);
    font-size: 28rpx;
    font-weight: 600;
  }

  .detail_name {
    display: flex;
    padding: 10rpx;
    border-bottom: 1rpx solid #222222;
    // height: 50rpx;
    .detail_name_wrap {
      flex: 5;
      font-size: 32rpx;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      border-right: 1rpx solid #222222;
    }

    .detail_name_collect {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      text {
        &:nth-child(2) {
          line-height: 0;
        }
      }
    }
  }

  .detail_info {
    .detail_info_title {
      padding: 20rpx;
      border-bottom: 1rpx solid #222222;
      color: var(--themeColor);
      font-size: 28rpx;
      font-weight: 600;
      font-weight: 600;
      border-bottom: 1rpx solid #333333;
    }
  }
  .bottom_tool {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #f4f4f4;
    width: 100vw;
    height: 90rpx;
    .bottom_item {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
    .btn_cart,.btn_buy{
      flex: 2;
      font-weight: 600;
    }
    .btn_cart {
      background-color: #ffa500;
    }
    .btn_buy {
      background-color: var(--themeColor);
    }
  }
}
